# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#visual studio
.vs/
.git/
Beadando/Beadando1/.vs/
Beadando/Beadando1/x64/
Beadando/Beadando1/Beadando1/x64/
Beadando/Beadando2/.vs/
Beadando/Beadando2/x64/
Beadando/Beadando2/Beadando1/x64/
LenaTest/.vs/
LenaTest/x64/
*.recipe
*.ilk
Beadando/Beadando2/x64/Debug/Beadando2.exe.recipe
Beadando/Beadando2/x64/Debug/Beadando2.ilk
Beadando/Beadando2/x64/Debug/Beadando2.log
Beadando/Beadando2/x64/Debug/Beadando2.pdb
Beadando/Beadando2/x64/Debug/Beadando2.tlog/Beadando2.lastbuildstate
Beadando/Beadando2/x64/Debug/Beadando2.tlog/CL.read.1.tlog
Beadando/Beadando2/x64/Debug/Beadando2.tlog/CL.write.1.tlog
Beadando/Beadando2/x64/Debug/Beadando2.tlog/link.read.1.tlog
Beadando/Beadando2/x64/Debug/Beadando2.tlog/link.write.1.tlog
Beadando/Beadando2/x64/Debug/vc143.idb
Beadando/Beadando2/x64/Debug/vc143.pdb
